!Datasets

Datasets/*
!Datasets/100
!Datasets/50

CODIGOS/BaseVFF
!CODIGOS/BaseVFF/generateDatasets.m

Partitions
nets
DenseNet201

Features.zip
Partitions.zip
CITATION.CFF
log.txt
*.pptx

comprovante_submissao_cic.pdf
presentation.pdf